<!doctype html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>{% block title %} Peymynt {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{{ asset('assets/images/favicon.png') }}">

    <!-- CSS
    ================================================== -->



    <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/css/client/aos.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/cookieconsent.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/helper.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/odometer-theme-minimal.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/pe-icon-7-stroke.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/prettify.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/simplebar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/smart_wizard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/smart_wizard_theme_arrows.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/smart_wizard_theme_circles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/smart_wizard_theme_dots.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/client/swiper.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/customstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">

    {% block stylesheets %}{% endblock %}


</head>
<body>

{{ include('front/header-front.html.twig') }}


{% block body %}{% endblock %}


{{ include('footer.html.twig') }}



<!-- Scripts
================================================== -->

<script src="{{ asset('assets/js/client/jquery.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.animatebar.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.easing.min.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.smartWizard.js') }}"></script>
<script src="{{ asset('assets/js/client/odometer.min.js') }}"></script>
<script src="{{ asset('assets/js/client/simplebar.js') }}"></script>
<script src="{{ asset('assets/js/client/swiper.js') }}"></script>
<script src="{{ asset('assets/js/client/popper.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.validate.js') }}"></script>
<script src="{{ asset('assets/js/client/bootstrap.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.waypoints.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.counterup.js') }}"></script>
<script src="{{ asset('assets/js/client/modernizr-2.8.3.min.js') }}"></script>
<script src="{{ asset('assets/js/client/aos.js') }}"></script>
<script src="{{ asset('assets/js/client/particles.js') }}"></script>
<script src="{{ asset('assets/js/client/typed.js') }}"></script>
<script src="{{ asset('assets/js/client/prettify.js') }}"></script>
<script src="{{ asset('assets/js/client/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('assets/js/client/cookieconsent.min.js') }}"></script>
<script src="{{ asset('assets/js/client/common-script.js') }}"></script>
<script src="{{ asset('assets/js/client/forms.js') }}"></script>
<script src="{{ asset('assets/js/client/site.js') }}"></script>


{% block javascripts %}{% endblock %}

</body>
</html>