{% extends 'front/page-front.html.twig' %}


{% block body %}




    <!-- Content
    ================================================== -->


    <div class="photo-section" data-background-image="{{ asset('assets/images/section-background.jpg') }}" style="background-image: url({{ asset('assets/images/section-background.jpg') }})">

        <!-- Infobox -->


        <div class="text-content white-font">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h3>Partners</h3>
                        <h2>Let’s work together</h2>
                        <p>Partner with Peymynt, and take your business to the next level.</p>
                    </div>
                </div>

            </div>
        </div>




        <!-- Infobox / End -->

    </div>



    <!-- Page Content
    ================================================== -->
    <main role="main">










        <div class="module-type-contentGrid  " id="contentGrid-2059">




            <div class="margin-top-50">
                <div class="module module--no-padding container">
                    <div class="row margin-bottom-50">

                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h1>Why partner with peymynt?</h1>
                        </div>
                    </div>
                    <div class="row">



                        <div class="col-md-4 text-center  px-5 pt-5">

                            <div class="mb-5 image-container" data-mh="image" style="height: 76px;">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/partner/icon-checklist.svg" alt="Icon Checklist" title="Icon Checklist">

                            </div>

                            <h3 data-mh="headline" style="height: 60px;">                Grow your business
                            </h3>

                            <div data-mh="description" style="height: 168px;"><p>peymynt has attracted 3.5+ million businesses worldwide, and tens of thousands of new businesses join every month. peymynt can help your business grow, with referrals and key partner promotions to our small business customers. </p></div>


                        </div>


                        <div class="col-md-4 text-center  px-5 pt-5">

                            <div class="mb-5 image-container" data-mh="image" style="height: 76px;">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/partner/icon-connectivity.svg" alt="Icon Connectivity" title="Icon Connectivity">

                            </div>

                            <h3 data-mh="headline" style="height: 60px;">                Build loyalty with small businesses
                            </h3>

                            <div data-mh="description" style="height: 168px;"><p>If you provide complementary products and services to small businesses, then we should talk! Small businesses have unique needs. Working together to provide integrated solutions to help them thrive builds trust and loyalty, and makes us all more successful. </p></div>


                        </div>


                        <div class="col-md-4 text-center  px-5 pt-5">

                            <div class="mb-5 image-container" data-mh="image" style="height: 76px;">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/partner/icon-plane.svg" alt="Icon Plane" title="Icon Plane">

                            </div>

                            <h3 data-mh="headline" style="height: 60px;">                Deliver for your customers
                            </h3>

                            <div data-mh="description" style="height: 168px;"><p>Working together, we can help our small business customers be more successful. Whether you provide complementary software, are an accountant, or a bank, there are ways we can partner to make life easier and more prosperous for our customers. </p></div>


                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="module-type-stats  " id="stats-2067">




            <div class="module container">
                <div class="module__stats">
                    <div class="p-4 row">
                        <div class="module__stats__card col-md-6 col-lg-6 text-center  mb-lg-0 pb-5 pb-md-0">
                            <div class="module__stats__headline gradient-text-blue-purple">5,000+</div>
                            <div>accountants and bookkeepers in the peymynt Pro Network</div>
                        </div>
                        <div class="module__stats__card col-md-6 col-lg-6 text-center  mb-lg-0 pb-5 pb-md-0">
                            <div class="module__stats__headline gradient-text-blue-purple">3.5+ million</div>
                            <div>customers</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="module-type-testimonial  " id="testimonial-2069">



            <div class="module text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <span class="embellishment--up-down"></span>
                            <div class="h3 semibold mt-4"><i>"Small business owners rely on dozens of tools to attract and close customers, manage company financials, and move projects from start to finish. With the Zapier - peymynt integration, these tools (and 1,000+ others!) can talk to each other to seamlessly automate small business invoicing and accounting workflows."</i></div>
                            <div class="mb-4"><small>Zapier</small></div>
                            <span class="embellishment--gradient"></span>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="module-type-contentGrid  " id="contentGrid-2071">




            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h2>              Integration partner
                            </h2>


                            <p>If you’re an independent software vendor with an application that complements peymynt, then register for access to the peymynt API. Integrating your application into peymynt gives you access to our customer base of over 3.5 million businesses, and allows for automated integration between your application and peymynt. </p>

                            <div class="mt-5">
                                <a class="button" href="https://developer.peymyntapps.com/">Become an integration partner</a>
                            </div>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style="">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/partner/partners-1_2x.png" width="301" alt="Partners 1 2X" title="Partners 1 2X">

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="module-type-contentGrid  " id="contentGrid-2073">




            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h2>              Financial services partner
                            </h2>


                            <p>If you’re a bank, credit union, or other financial services provider and would like to help your customers be more successful, consider working with peymynt. By integrating financial services with accounting, invoicing, payroll, and more, you will build loyalty, improve retention, and increase product attach rates. </p>

                            <div class="mt-5">
                                <a class="button" href="https://www.peymyntapps.com/about-us/contact">Inquire about partnering</a>
                            </div>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first order-md-1 text-center">
                            <div class="mb-5 image-container" data-mh="image" style="">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/spot_bank.png" width="380" alt="Spot Bank" title="Spot Bank">

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="module-type-contentGrid  " id="contentGrid-2075">




            <div class="">
                <div class="module  container">
                    <div class="row align-items-center ">
                        <div class="col-md-6 px-lg-5">
                            <h2>              Accountants and bookkeepers
                            </h2>


                            <p>Our customers want peymynt-friendly accountants and bookkeepers who can help them manage their business finances. Find new customers and support the peymynt community of small business owners. When peymynt business owners grant you access through the ‘Business Collaborators’ option, you’ll be invited into their peymynt account.</p>

                            <div class="mt-5">
                                <a class="button" href="https://www.peymyntapps.com/pro-network">Join the peymynt Pro Network</a>
                            </div>
                        </div>
                        <div class="col-md-6 px-lg-5 order-first text-center">
                            <div class="mb-5 image-container" data-mh="image" style="">
                                <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/spot_employee.png" width="380" alt="Spot Employee" title="Spot Employee">

                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="module-type-contentGrid  " id="contentGrid-2976">




            <div class="">
                <div class="module  container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center  module__header">
                            <h2>Have questions? We have answers.</h2>
                        </div>
                    </div>
                    <div class="row">

                    </div>

                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center mt-4">
                            <a class="button gray" href="https://www.peymyntapps.com/about-us/contact">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </main>


{% endblock %}

{% block javascripts %}

    <!-- Google API & Maps -->
    <!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>
    <script src="{{ asset('assets/js/infobox.min.js') }}"></script>
    <script src="{{ asset('assets/js/markerclusterer.js') }}"></script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>

{% endblock %}


