{% extends 'front/page-front.html.twig' %}


{% block body %}


    <div class="photo-section" data-background-image="{{ asset('assets/images/section-background.jpg') }}" style="background-image: url({{ asset('assets/images/section-background.jpg') }})">

        <!-- Infobox -->

        <div class="text-content white-font">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2 class="margin-bottom-0">PRIVACY POLICY</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Infobox / End -->

    </div>

    <!-- Page Content
  ================================================== -->
    <main role="main">

        <div class="container d-none d-md-block">
            <div class="page-subnavigation py-4 border-bottom padding-top-30 padding-bottom-20">
                <a class="button gray" href="{{ path('peymynt.content_pages', {"slug":"terms"}) }}"> Terms of Use  </a>
                <a class="button gray" href="{{ path('peymynt.content_pages', {"slug":"privacy"}) }}"> Privacy Policy  </a>
                <a class="button gray" href="{{ path('peymynt.content_pages', {"slug":"additional"}) }}"> Additional Terms  </a>
                <a class="button gray" href="{{ path('peymynt.content_pages', {"slug":"security"}) }}"> Security  </a>
            </div>
        </div>





        <div class="container">

            <div class="wv-content__primary">

                <p class="wv-text--fine-print">
                    Effective as of:
                    <span class="wv-badge--info">February 20, 2018</span>
                </p>



                <div class="id-terms__terms-item&quot;">
                    <div class="id-terms__terms-item__legalese&quot;">
                        <p class="wv-text wv-text--small">
                            At peymynt Financial Inc. (“peymynt”), we value your trust and respect your privacy.
                        </p>

                        <p class="wv-text wv-text--small">
                            peymynt exists to support entrepreneurs like you by offering a fast and easy way to manage your money, while respecting your privacy expectations.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item&quot;">
                    <div class="id-terms__terms-item__legalese&quot;">
                        <h2 class="wv-heading--section-title" id="scope">
                            Scope
                        </h2>
                        <p class="wv-text wv-text--small">
                            This privacy policy applies to peymynt.com and, its subdomains (the “Site”), and our mobile apps, all of which are owned and operated by peymynt Financial Inc. It does not apply to any third-party websites, which have their own policies. Throughout this policy, when we say peymynt, we mean our company, including the Site and any peymynt mobile apps, and when we say Services we mean the various financial products and services, and apps we make available to you through our Site and mobile apps, including our payments, payroll, accounting, invoicing services, and other small business–related services and support.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <p class="wv-text wv-text--small">
                            By “Personal Information”, we mean information about an identifiable individual. That’s what this policy is about – our collection, protection, use, retention, disclosure and other processing of Personal Information and your rights relating to these activities. We also compile certain aggregate data about our users.
                        </p>

                        <p class="wv-text wv-text--small">
                            What is aggregate data? “Tim Smith buys a coffee at a coffee shop on Main Street” is the Personal Information of Tim Smith, but “20% of peymynt users buy coffee on Tuesdays” is aggregate data.
                        </p>

                        <p class="wv-text wv-text--small">
                            We use Personal Information in order to provide you and your business with the Services. Our Privacy Policy is based on the following 10 fair information principles:
                        </p>
                        <div class="numbered">
                            <ol class="wv-text wv-text--small">
                                <li>Accountability</li>
                                <li>Identifying purposes</li>
                                <li>Consent</li>
                                <li>Limiting collection</li>
                                <li>Limiting use, disclosure, and retention</li>
                                <li>Accuracy</li>
                                <li>Safeguards</li>
                                <li>Openness</li>
                                <li>Individual access</li>
                                <li>Challenging compliance</li>
                            </ol>
                        </div>
                    </div>
                </div>


                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="accountablity-and-challenging-compliance">
                            Accountability and Challenging Compliance (#1 and #10)
                        </h2>
                        <p class="wv-text wv-text--small">
                            peymynt has named a Privacy Officer who is responsible for all things privacy at peymynt. This includes our policies and procedures that are designed to keep your information safe. If you have any questions about our privacy practices or this policy, you can contact me at:
                        </p>

                        <address class="wv-text wv-text--small">
                            peymynt Financial Inc.<br>
                            Privacy Officer<br>
                            235 Carlaw Ave., Suite 501<br>
                            Toronto, ON M4M 2S1<br>
                            Canada<br>
                        </address>

                        <p class="wv-text wv-text--small">
                            Email: <a class="wv-text--link" href="mailto:privacy@peymynt.com">privacy@peymynt.com</a>
                        </p>

                        <p class="wv-text wv-text--small">
                            If you’re not satisfied with our response, you have the option of contacting the Office of Canada’s the Privacy Commissioner of Canada.
                        </p>


                    </div>
                </div>

                <div class="id-terms__terms-item&quot;">
                    <div class="id-terms__terms-item__legalese&quot;">
                        <h2 class="wv-heading--section-title" id="idenitifying-purposes">
                            Identifying Purposes (#2)
                        </h2>

                        <p class="wv-text wv-text--small">
                            peymynt collects, uses, discloses, and otherwise manages Personal Information in a variety of ways related to the Services we provide. We’ve outlined these below. Your use of the Services determines which information we collect and use. For example, payroll information is optional, unless you’d like to use Payroll by peymynt to run payrolls, at which point we will need to collect payroll information in order to provide you with this service. Similarly, when you create an invoice, your customer’s email is optional, but if you’d like to us to deliver the invoice by email, this information becomes necessary.
                        </p>

                        <p class="wv-text wv-text--small">
                            peymynt may collect, use, store, or disclose your Personal Information for the purposes described below.
                        </p>

                        <ul class="list-2">
                            <li>
                                In order to provide you with the Services, which includes the following:
                                <ul class="list-1">
                                    <li>
                                        We collect information directly from you, but may also collect information from third parties when you connect your peymynt account to them. These integrations may pull data into or share data out of peymynt. In some cases, we use a service provider to connect you to a third-party service (<em class="wv-text--small--emphasized">e.g.</em>. when you connect to your bank account to pull in transactions).
                                    </li>
                                    <li>
                                        We may also collect your name and email address from third parties when you sign up and login to our Site using single sign-on (SSO).
                                    </li>
                                    <li>
                                        When you connect your peymynt account with a third-party service, their terms and policies apply.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                To promote or offer you products or services, and to determine your eligibility for new services we may offer from time to time.
                            </li>
                            <li>
                                To provide you with educational materials and guides relevant to the Services you use.
                            </li>
                            <li>
                                To contact you for the purposes of Service updates and system and account notifications.
                            </li>
                            <li>
                                To provide you with support in connection with the Services.
                            </li>
                            <li>
                                To comply with any laws, regulation, court orders, warrants, inquiries, subpoenas or other legal processes or investigations, and to protect ourselves, other individuals, or property from harm.
                            </li>
                            <li>
                                In connection with a prospective or completed merger or sale (including insolvency or bankruptcy proceedings) involving all or part of peymynt or as part of a corporate reorganization or stock sale or other change in corporate control.
                            </li>
                        </ul>

                        <p class="wv-text wv-text--large">
                            <strong>We will never sell your Personal Information to other companies.</strong>
                        </p>

                    </div>
                </div>

                <div class="id-terms__terms-item&quot;">
                    <div class="id-terms__terms-item__legalese&quot;">
                        <h2 class="wv-heading--section-title" id="consent">
                            Consent (#3) </h2>
                        <p class="wv-text wv-text--small">
                            peymynt takes a consent-based approach to the collection, use and disclosure of Personal Information.
                        </p>

                        <h3 class="wv-heading--subsection-title" id="submitting-the-personal-information-of-others">
                            Submitting the Personal Information of others
                        </h3>
                        <p class="wv-text wv-text--small">
                            When you submit the Personal Information of your customers or employees to us, you are responsible for informing such customers and employees about peymynt, and for obtaining any necessary consent or authority from them.
                        </p>
                        <p class="wv-text wv-text--small">
                            You may also choose to refer someone to our Site. We will send them a single invitation email to the address you provide. Please ensure that you only submit email addresses of individuals or businesses with whom you have a relationship and who would want to receive the message.
                        </p>

                        <h3 class="wv-heading--subsection-title" id="closing-your-peymynt-account">
                            Closing your peymynt account
                        </h3>
                        <p class="wv-text wv-text--small">
                            At any time and without penalty, peymynt users can withdraw their consent to the continued use or disclosure of their Personal Information by closing their peymynt account. Please ensure you complete the account closure process which includes a confirmation email. Otherwise, your account may not be closed.
                        </p>

                        <h3 class="wv-heading--subsection-title" id="email-and-communications-consent">
                            Email and communications consent
                        </h3>
                        <p class="wv-text wv-text--small">
                            At any time, you can opt-out of commercial email communications from us by clicking on the unsubscribe link in such emails, or via the Email Preferences settings in your account.
                            Certain non-commercial communications may still be sent to you that are required to provide
                            you with our Services. For example, system notifications, major product changes, changes to our Terms of Use, or other news that we believe will materially affect how you interact with peymynt.
                        </p>
                        <p class="wv-text wv-text--small">
                            The only way to completely stop all emails from peymynt is to close your account as outlined above.
                        </p>

                    </div>
                </div>


                <div class="id-terms__terms-item&quot;">
                    <div class="id-terms__terms-item__legalese&quot;">
                        <h2 class="wv-heading--section-title" id="limiting-collection">
                            Limiting Collection (#4)
                        </h2>

                        <p class="wv-text wv-text--small">
                            peymynt only collects the Personal Information necessary to provide the Services to you. The Services you use will determine which information peymynt collects. We’ll also provide you the option of sharing additional information to enhance your peymynt experience.
                        </p>
                        <p class="wv-text wv-text--small">
                            peymynt may also use third-party services to supplement or enrich our understanding of our customers. This includes cross-referencing information like a name, business name, email address or IP address in third-party databases, and using the information there to improve our understanding of you and your business.
                        </p>
                        <p class="wv-text wv-text--small">
                            peymynt is not intended for children and we do not knowingly or intentionally collect information about individuals under the age of thirteen (13).
                        </p>
                        <p class="wv-text wv-text--small">
                            Some of the Services allow you to provide access to your peymynt account to other authorized users, which we call “guest collaborators”. Guest collaborators have access to information in your peymynt account, including Personal Information, and may perform various tasks on your behalf. You take full responsibility for any collection, use or disclosure of your Personal Information by your collaborator(s).
                        </p>
                        <p class="wv-text wv-text--small">
                            To provide access to your account to a guest collaborator, you must provide the collaborator’s name and email address. We will send them a single email inviting them to the Site. peymynt only uses this information to invite your collaborator. Please ensure that you only submit email addresses of individuals or businesses that you have a relationship with and who would want to receive the message. The guest collaborator may contact us at <a class="wv-text--link" href="mailto:privacy@peymynt.com">privacy@peymynt.com</a> to request that we remove their name and email address from our database.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="limiting-use-disclosure">
                            Limiting Use, Disclosure and Retention (#5)
                        </h2>
                        <p class="wv-text wv-text--small">
                            We will use your Personal Information as described in this policy.
                        </p>
                        <p class="wv-text wv-text--small">
                            We will share your Personal Information with third parties only as described in this policy.
                        </p>
                        <p class="wv-text wv-text--small">
                            We will retain your information for the period necessary to fulfill the purposes outlined in this policy, unless a longer retention period is required by law or regulation. To be clear, that means we’ll retain your Personal Information while you have an active account, and afterward if we need to do so to meet our legal obligations. If you choose to close your peymynt account, we will destroy your Personal Information within 60 days unless we are otherwise obliged to keep it longer.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="accuracy">
                            Accuracy (#6)
                        </h2>
                        <p class="wv-text wv-text--small">
                            peymynt relies on you to provide us with information that is accurate and complete. We provide you the mechanisms and rely on you to keep your information up to date. You can request updates or corrections of any inaccuracies in your Personal Information at any time by contacting us at the contact information listed in the policy. We will respond to your request within a reasonable timeframe.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="safeguards">
                            Safeguards (#7)
                        </h2>
                        <p class="wv-text wv-text--small">
                            peymynt uses a combination of reasonable and appropriate safeguards designed to protect your information. These safeguards are administrative controls (things like policies, procedures, and training), technical controls (things like encryption, firewalls, and secure coding frameworks), and physical controls (secured hosting environments).
                        </p>
                        <p class="wv-text wv-text--small">
                            For additional details, please see our <a class="wv-text--link" href="#">security page</a>.
                        </p>
                        <p class="wv-text wv-text--small">
                            We ensure that any third party acting on our behalf maintains reasonable and appropriate safeguards in respect of your Personal Information. Additional information about our third parties’ privacy practices is available upon request.
                        </p>
                        <p class="wv-text wv-text--small">
                            If you have questions about security on our Site, you can contact us at <a class="wv-text--link" href="mailto:security@peymynt.com">security@peymynt.com</a>.
                        </p>
                        <p class="wv-text wv-text--small">
                            You are also responsible for helping to protect the security of your Personal Information. For instance, never give out your email account information or your password for the Services to third parties. Our team will never request your password or PIN, and we ask that you never post account or credit card numbers to our support channels.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="openness">
                            Openness (#8)
                        </h2>
                        <p class="wv-text wv-text--small">
                            This policy outlines our privacy practices. If you have questions about it, please contact our <a class="wv-text--link" href="mailto:privacy@peymynt.com">Privacy Officer</a>. This policy is available publicly at <a class="wv-text--link" href="/privacy">https://my.peymynt.com/privacy</a>.
                        </p>
                    </div>
                </div>

                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="individual-access">
                            Individual Access (#9)
                        </h2>
                        <p class="wv-text wv-text--small">
                            You may access, update and correct inaccuracies in the Personal Information in our custody or control at any time, subject to limited exceptions prescribed law. You can download or export data you input into the Site at any time, or to correct inaccuracies, simply log in to your account and make the necessary changes.
                        </p>
                        <p class="wv-text wv-text--small">
                            You can also request access, corrections or updates to all your Personal Information, including information not available through your account, by contacting us as set out in the Challenging Compliance section of this document. We may request certain Personal Information for the purposes of verifying the identity of the individual seeking access to their personal information records.
                        </p>
                    </div>
                </div>


                <div class="id-terms__terms-item">
                    <div class="id-terms__terms-item__legalese">
                        <h2 class="wv-heading--section-title" id="additional-details">
                            ADDITIONAL DETAILS
                        </h2>

                        <div>
                            <h3 class="wv-heading--subsection-title" id="public-content-and-social-media">
                                Public content and Social Media
                            </h3>
                            <p class="wv-text wv-text--small">
                                peymynt has public forums and blogs. Any information submitted there may be read and collected by anyone.
                            </p>
                            <p class="wv-text wv-text--small">
                                You may request removal of Personal Information from forum or blog posts and comments by contacting us at <a class="wv-text--link" href="mailto:privacy@peymynt.com">privacy@peymynt.com</a>.
                            </p>
                            <p class="wv-text wv-text--small">
                                If you provide us with a testimonial, with your consent we may post it on our Site or in other materials and media, along with your name. If you want your testimonial removed, please contact us at <a class="wv-text--link" href="mailto:privacy@peymynt.com">privacy@peymynt.com</a>.
                            </p>
                            <p class="wv-text wv-text--small">
                                You may engage with us through social media sites. When you engage with us on these sites, we may have access to certain information about your account (<em class="wv-text--small--emphasized">e.g.</em>, name, username). These sites may collect your IP address, how you’re engaging with us, and may use cookies to enable the site to function properly. We may use this information to personalize your experience and to provide you with other products or services you may request.
                            </p>
                        </div>

                        <div>
                            <h3 class="wv-heading--subsection-title" id="service-providers">
                                Service Providers
                            </h3>
                            <p class="wv-text wv-text--small">
                                We may transfer (or otherwise make available) your personal information to third parties who provide services on our behalf. For example, we may use service providers to host our website and to process payments. Your Personal Information may be maintained and processed by these third parties in other jurisdictions, like the U.S.. When your information is in another jurisdiction, it will be subject to their laws. We only share the information these service providers need to do their job and we don’t authorize them for any other use or disclosure of personal information.
                            </p>
                            <p class="wv-text wv-text--small"> We may use service providers to verify bank account information you provide to us in providing our Services to you. If you are in the U.S., please note that:
                            </p><blockquote class="wv-text--small" style="margin-left: 30px">
                                <em class="wv-text--emphasized">
                                    peymynt uses Plaid Inc. (“Plaid”) to gather your data from financial institutions.
                                    By using our service, you grant peymynt and Plaid the right, power, and authority to act on your
                                    behalf to access and transmit your personal and financial information from the relevant
                                    financial institution. You agree to your personal and financial information being transferred,
                                    stored, and processed by Plaid in accordance with the <a class="wv-text--link" href="https://plaid.com/legal/#end-user-privacy-policy">Plaid Privacy Policy</a>.
                                </em>
                            </blockquote>
                            <p></p>
                            <p class="wv-text wv-text--small">
                                We may also use services provided by third-party platforms (such as social networking sites) to serve targeted ads on such platforms to you or others, and we may provide a hashed version of your email address or other information to the platform provider for such purposes. To opt-out of the sharing of your information with such platforms, please send an email to  <a class="wv-text--link" href="mailto:privacy@peymynt.com">privacy@peymynt.com</a>.
                            </p>
                        </div>

                        <div>
                            <h3 class="wv-heading--subsection-title" id="visiting-the-site-and-using-the-mobile-apps">
                                Visiting the Site and using the mobile apps
                            </h3>
                            <p class="wv-text wv-text--small">
                                In general, you can visit the Site without telling us who you are or submitting any Personal Information. However, we and/or our service providers (such as Google Analytics) collect IP (Internet protocol) addresses from all visitors to the Site and other related information such as page requests, browser type, operating system and average time spent on our Site. When you use any of our mobile apps, we also collect device type, operating system, unique device identifier, and date and time stamp. This information is used to help us understand the activity on, and to monitor and improve, our Site and mobile apps.
                            </p>
                        </div>

                        <div>
                            <h3 class="wv-heading--subsection-title" id="cookies-tags-and-web-beacons">
                                Cookies, Tags, and Web Beacons
                            </h3>
                            <p class="wv-text wv-text--small">
                                Technologies such as cookies, web beacons, tags and scripts are used by peymynt, our advertising and analytics service providers (such as Google analytics), and affiliates to analyze usage trends, administer the Site, and to gather demographic information about our user base as a whole.
                            </p>
                            <p class="wv-text wv-text--small">
                                A cookie is small piece of data that our Site can send to your browser, which may then be stored on your device so we can recognize you when you return. We use cookies for session tracking to make it possible to navigate the secure environment inside our Site. These cookies (1) may let us know who you are, (2) are necessary to access your account, and (3) will give us information that we can use to personalize our Site according to your preferences. You can control the use of cookies in your browser. If you disable cookies, you will not be able to access your account or take advantage of all of the features of the Site and mobile apps.
                            </p>
                        </div>

                        <div>
                            <h3 class="wv-heading--subsection-title" id="notifications-of-privacy-policy-changes">
                                Notification of Privacy Policy Changes
                            </h3>
                            <p class="wv-text wv-text--small">
                                We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on our website prior to the change becoming effective. We encourage you to periodically review our Privacy Policy for the latest information on our privacy practices.
                            </p>
                        </div>

                    </div>
                </div>


            </div>

        </div>




        <div class="module-type-onepeymynt  " id="onepeymynt-399">
            <div class="module">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 text-center module__header">
                            <h2>Powerful accounting, and more!</h2>
                            <p>Accounting is great, but it’s even greater when used with the rest of peymynt.</p>
                        </div>
                    </div>
                    <img class="" src="https://dwdqz3611m4qq.cloudfront.net/products/One_peymynt_medium.png" width="961" alt="Screenshot of the peymynt Suite" title="Screenshot of the peymynt Suite">
                    <p class="pt-7"> <a class="btn btn-primary" href="https://www.peymynt.com/onepeymynt">Learn more about peymynt’s products</a> </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}


