


<nav class="nav sidebar pt-4">


    <ul class="nav flex-column">
        <li class="nav-item active"> <a class="nav-link"  href="{{ path('app_user_settings') }}"><i class="fas fa-user mr-3"></i>  Personal Information </a> </li>
        <li class="nav-item active"> <a class="nav-link"  href="{{ path('app_user_settings.emails_connected_accounts_list') }}"><i class="fas fa-plug mr-3"></i>  Emails &amp; Connected Accounts </a> </li>
        <li class="nav-item active"> <a class="nav-link"  href="{{ path('app_user_settings.change_password') }}"><i class="fas fa-lock mr-3"></i>  Password </a> </li>
        <li class="nav-item active"> <a class="nav-link"  href="{{ path('app_user_settings.email_notifications') }}"><i class="fas fa-envelope mr-3"></i>  Email Notifications </a> </li>
        <li class="nav-item active"> <a class="nav-link"  href="{{ path('app_user_settings.business_list') }}"><i class="fas fa-briefcase mr-3"></i>  Businesses </a> </li>
    </ul>


</nav>